body {
    text-align: center;
    font-family: serif;
    position: relative;
}

input[type="text"] {
    padding: 10px;
    width: 40%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    border: 1px solid;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

label {
    font-weight: bold;
    margin-left: 20px;
}

input:checked + label{
    font-weight: none;
    color: #aaa;
    text-decoration: line-through;
    opacity: 0.5;
}

.add-btn {
    padding: 10px;
    border-radius: 10px;
    background: #18dd22;
    color: white;
}

.remove-btn {
    padding: 10px;
    border-radius: 10px;
    background: #ef0e0e;
    color: white;
}

.other-btns {
    margin-top: 15px;
}

.notes {
    text-align: left;
    position: absolute;
    top: 110%;
    left: 30%;
    transform: translate(-50% -50%);
}

.note:not(last-child) {
    margin-bottom: 10px;
}

.note {
    font-size: 20px;
    font-family: sans-serif;
}
