body {
    text-align: center;
    font-family: fantasy;
}

input[type="text"] {
    padding: 10px;
    width: 40%;
    font-family: fantasy;
    font-size: 1.1em;
    border: 1px solid;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

.add-btn {
    padding: 10px;
    border-radius: 10px;
    background: #18dd22;
    color: white;
}

.remove-btn {
    padding: 10px;
    border-radius: 10px;
    background: #ef0e0e;
    color: white;
}
